<!--
  ~ Abigail
  ~ License: MIT
  ~ (c) 2021 Star Inc. (https://starinc.xyz)
  -->
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertNoticesToExceptions="false"
         convertErrorsToExceptions="false"
         convertWarningsToExceptions="false">

    <testsuites>
        <testsuite name="php-rest-service">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
